# [submodule "lib/git"]
# 	path = lib/git
# 	url = https://github.com/git/git.git

# [submodule "lib/bigpicture"]
# 	path = lib/bigpicture
# 	url = https://github.com/henrygd/bigpicture.git

# [submodule "lib/turn.js"]
# 	path = lib/turn.js
# 	url = https://github.com/blasten/turn.js.git

# [submodule "lib/AOS"]
# 	path = lib/AOS
# 	url = https://github.com/michalsnik/aos.git

# [submodule "lib/animate.css-main"]
# 	path = lib/animate.css-main
# 	url = https://github.com/animate-css/animate.css.git
