.hero{
    width: 100%;
    height: 111%;
    position: relative;
    background-image: url("../img/png/backGroundHead.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 8%;
    // padding: 8% 5%;     // Create a X - scroll!!!!
    &-wrapper{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    // Left Part
    &__content{
        width: 45%;
    }
    // Right Part
    &__image{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        // width: 80%;
        width: 741px;
        height: 739px;
        // margin: 41px 9px 55px 45px;
        object-fit: contain;
    }
    &__social{
        height: 100%;
    }
}

.hcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        width: 100%;
        margin-bottom: 2%;
        &-img{
            width: 100%;
        }
    }
    &__text{
        width: 100%;
        margin-bottom: 2%;
        // @include textStyle(46px);
        @include txt(38px, 700, 1.42);
        // line-height: 1.42;
        width: 977px;
        height: 129px;
        margin: 12px 26px 43px 19px;
    }
    &__buttons{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include textStyle();
    }

    $btnArray : 1, 2;
    @each $i in $btnArray {
        &__btn#{$i}{
            @include txt(38px, 700);
            width: 88%;
            height: 80%;
            color: #000000;
            // border-radius: 50px;
            // width: 797px;
            // height: 79px;
            // padding: 28px 43px 20px 44px;
            object-fit: contain;
            border-radius: 39.5px;
            box-shadow: -8.2px 7.4px 17.6px 3.4px rgba(0, 0, 0, 0.29);
            background-color: #ffffff;
        }
    }

}

#hc-btn2{
    margin-left: 5%;
}