@mixin buttonFrame() {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    overflow: visible;
}

// @mixin textStyle($x: 1.2vw){
//     font-family: 'Roboto';
//     font-size: $x;
//     font-weight: 900;
//     font-stretch: normal;
//     font-style: normal;
//     // font-style: bold;
//     line-height: normal;
//     letter-spacing: normal;
//     color: white;
// }

@mixin textStyle($x: 25px) {
    font-family: 'Roboto', sans-serif;
    font-size: $x;
    font-weight: 900;
    // line-height: 1.63;
    line-height: 75px;
    text-align: left;
    color: #fff;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }