.videos{
    margin-top: 10%;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &::before{
        position: absolute;
        content: url('../img/png/ellipseShape.png');
        top: 70px;
        left: 151px;
    }
    &-wrapper{
        width: 75%;
        height: 100%;
    }
    &__button{
        width: 5%;
    }
}

#video{
    border-radius: 20px;
}